*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.backdrop{
    height: 100vh;
    width:  100vw;
    background-color: rgba(0,0,0,0.5 );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.main_header {
    width: 100%;
    background-color:#2ddf5c;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.main_header > div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.main_header div a{
    text-decoration: none;
    font-weight: bold;
    color: #0e4f1f; 
    height: 1.5rem;
    display: inline-block;

}
.uhost_image{
    height: 100%;
    vertical-align: middle;
    
}
.main_header_nav{
    display: inline-block;
    width: calc(100% - 122px);
    text-align: right;
    vertical-align: middle;
    margin-left: 0;
}

.list_item{
    display: inline-block;
    margin:0 1rem;
}
.list_items{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list_items a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.2rem 0;
}

.list_items a:hover,
.list_items a:focus{
    color: white;
    border-bottom: 5px solid white;

}

.list_item_cta a:hover,
.list_item_cta a:focus{
    background-color:white;
    color: #ff1b68;
    border-bottom: none;
}

#plans>h1{
    color:#2ddf5c;
    font-weight: bold;
    text-align: center;
}
.footer{
    background-color:black;
    padding: 2rem;
    margin-top: 3rem;
}
.footer_lists{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.footer_list{
    display: inline-block;
    margin: 0 1rem;
    
}
.footer_list a{
    text-decoration: none;
    color: white;
}
.footer_list a:hover,
.footer_list a:active {
    color: #ccc;
}

.mobile_header_nav{
    height: 100vh;
    width:80%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 101;
    background-color: white;
    display: none;
    
}
.mobile_list_items{
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}
.mobile_list_item a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 1.5rem;
}
.mobile_list_item{
    margin: 1rem 0;
}
.list_item_cta a{
    background-color:#ff1b68;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: white;
}
.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }