main{
    padding-top: 2.5rem;
}
.customers_container{
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: center;

}

.customers_image{
    width: 100%;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    max-width: 40rem;
}
.customer_info{
    padding: 0.9rem;
    text-align: right;
}

.customers_image img{
    width: 100%;
    vertical-align: top;
}   
.customer_info h1{
    color: #ff1b68;
    font-weight: bold;
    font-size: 2rem;
    margin: 0.2rem;

}
.customer_info h2{
    color: #ccc;
    font-size: 1.1rem;
    margin: 0;
}
.customer_info a{
    text-decoration: none;
    color: #979797;

}
.customer_info p{
    font-size: 1.2rem;
    margin: 0.2rem;

}
#customer_2{
    text-align: left;
}
.customer_2{
    text-align: right;
}
@media(min-width:40rem){
    .customers_container{
        margin: 2.5rem auto;
        max-width: 1500px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .customers_image{
        width: 66%;
    
    }
    .customer_info{
        width: 30%;
    }
}